@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&family=Tourney:ital,wght@0,300;1,200&display=swap');

.sidebar_name {
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tourney', cursive;
}

.all_links {
    text-decoration: none;
    color: gray;
}

.viewers {
    background-color: rgb(155, 77, 207);
    padding: 3px 5px;
    color: white;
    border-radius: 10%;
}

.viewer-text {
    background-color: rgb(180, 174, 174);
    padding: 3px 6px;
    color: white;
    border-radius: 3%;
}

